/*Подключение нормалайза)*/

@import "./normalize.css";

/*Подключение шрифтов*/
@font-face {    
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: local("Rubik"),
    url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: local("Rubik"),
    url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway"),
    url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}





/*Общие правила*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Rubik';
    font-style: normal;
    margin: 0;
    padding: 0;
    min-height: 100%;
    color:black;
}

/*Убираем стиль списка*/
ul > li {
    list-style: none;
}

/*Убираем подчеркивание ссылок*/
a {
    text-decoration: none;
}





/*Контейнер*/
.container {
    display: block;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 1160px;
    margin: 0px 140px;
}


/*Текстовые стили*/

.main-title {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.link {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.title-2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.title-3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.text-bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.text-small {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.text-small-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.link-small-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.slider-number {
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
}

.des-term {
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
}

.des-definition {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.category-item-description {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.interactive-button {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.delivery-text {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.subtitle-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;   
}

.filter-item {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.price {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
}


/*(NAV)Навигационная панель*/

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

/*Отступы слева и справа для панели навигации*/

.nav-section {
    padding: 0 60px;
}





/*Содержимое страницы*/


/*Слайдер*/
.slider {
    display: flex;

}
.slider-right {
    order: -1;
}


.slider-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.slider-item:nth-child(2) {
    display: none;
}

.slider-item:nth-child(3) {
    display: none;
}

/*Flex на элипсы в слайдере*/
.illustration-des {
    display: flex;
    justify-content: space-between;
}

/*Задний фон на слайдер*/
.slider-backrgound {
    height: 300px;
    background: repeat url("../src/images/background_header.svg");
}

.advertising {
    display: flex;
}

.characteristics {
    display: flex;
}

/*Категории товаров*/


.category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-item {
    display: flex;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-repeat: no-repeat;
}

/*Привязка иконок к списку*/

.category-item-virtual {
    background-image: url("../src/images/virtual.svg");
}
.category-item-monopod {
    background-image: url("../src/images/monopod.svg");
}
.category-item-action {
    background-image: url("../src/images/action_cam.svg");
}
.category-item-fitnes {
    background-image: url("../src/images/fitnes.svg");
}
.category-item-clock {
    background-image: url("../src/images/smart_clock.svg");
}
.category-item-quadro {
    background-image:  url("../src/images/quadrocopter.svg");
}
.category-item-description {
    padding-top: 193px;
}

.terms {
    margin-top: 70px;
}



/*Доставка, гарантии, кредит*/
/*FOOTER*/
.footer {
    max-width: auto;
    background: #444444;
}


/*MODAL DELIVERY*/
.delivery-modal {
    display: none;
}